@import "tailwindcss";

@theme {
  --color-primary: #3576ff;
  --color-primary-75: rgba(53, 118, 255, 0.75);
  --color-primary-50: rgba(53, 118, 255, 0.5);
  --color-primary-25: rgba(53, 118, 255, 0.25);

  --color-black: #151515;
  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-25: rgba(0, 0, 0, 0.25);

  --color-white: #f2f2f2;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-red: #ff2b2b;
  --color-red-75: rgba(255, 43, 43, 0.75);
  --color-red-50: rgba(255, 43, 43, 0.5);
  --color-red-25: rgba(255, 43, 43, 0.25);

  --color-green: #008000;
  --color-green-75: rgba(0, 128, 0, 0.75);
  --color-green-50: rgba(0, 128, 0, 0.5);
  --color-green-25: rgba(0, 128, 0, 0.25);
}

body {
  background-color: #151515;
  color: #f2f2f2;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}