@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
	--font-welcome: "Stack Sans Notch", sans-serif;
	--font-fira: "Fira Code", monospace;

	--color-primary: #3576ff;
	--color-primary-75: rgba(53, 118, 255, 0.75);
	--color-primary-50: rgba(53, 118, 255, 0.5);
	--color-primary-25: rgba(53, 118, 255, 0.25);

	--color-background: #2a2a2a;
	--color-border: #3a3a3a;
	--color-light-border: #adadad;

	--color-black: #151515;
	--color-black-75: rgba(0, 0, 0, 0.75);
	--color-black-50: rgba(0, 0, 0, 0.5);
	--color-black-25: rgba(0, 0, 0, 0.25);

	--color-white: #f2f2f2;
	--color-white-75: rgba(255, 255, 255, 0.75);
	--color-white-50: rgba(255, 255, 255, 0.5);
	--color-white-25: rgba(255, 255, 255, 0.25);

	--color-red: #ff2b2b;
	--color-red-75: rgba(255, 43, 43, 0.75);
	--color-red-50: rgba(255, 43, 43, 0.5);
	--color-red-25: rgba(255, 43, 43, 0.25);

	--color-green: #008000;
	--color-green-75: rgba(0, 128, 0, 0.75);
	--color-green-50: rgba(0, 128, 0, 0.5);
	--color-green-25: rgba(0, 128, 0, 0.25);
}

body {
	background-color: #000000;
	color: #f2f2f2;

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.absolute-hor-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.absolute-ver-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
	display: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	background: none !important;
	width: 0 !important;
	height: 0 !important;
	position: absolute !important;
	pointer-events: none !important;
}

/* TODO: the icon is still showing on firefox */
input[type="date"]::-moz-calendar-picker-indicator {
	display: none !important;
	appearance: none !important;
	background: none !important;
	width: 0 !important;
	height: 0 !important;
	position: absolute !important;
	pointer-events: none !important;
}

.text-header:empty::before {
  content: attr(data-placeholder);
  color: var(--color-white-50);
  pointer-events: none;
}

.text-paragraph:focus:empty::before {
  content: attr(data-placeholder);
  color: var(--color-white-50);
  pointer-events: none;
}

.text-paragraph > a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    color: #93c5fd;
    text-shadow: 0 0 8px rgba(96, 165, 250, 0.3);
  }
  
  &:active {
    color: #bfdbfe;
  }
}

.text-paragraph > code {
  background: rgba(255, 255, 255, 0.1);
  color: hsl(0.5, 82.1%, 71.6%);
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 0.9em;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.text-paragraph > mark {
  background: rgba(34, 211, 238, 0.2);
  color: var(--color-white);
  padding: 2px 4px;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 rgba(34, 211, 238, 0.5);
}